@supports selector(:has(*)) {
  .nav-background {
    visibility: hidden;
  }

  nav:has(.peer\/waitlist:hover) .nav-background {
    visibility: visible;
    left: 6px; /* 1.5 * 4px = 6px */
  }

  nav:has(.peer\/manifesto:hover) .nav-background {
    visibility: visible;
    left: calc(50% + 6px); /* 50% + 1.5 * 4px */
  }
}
